<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="StockDao">

    <resultMap id="BaseResultMap" type="StockPO">
        <id column="id" property="skuId" jdbcType="BIGINT"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert">
        insert into t_stock (id,stock)
        values (null,#{stock});
    </insert>

    <update id="decr">
        update t_stock
        set stock = stock - 1
        where id = ${skuId}
        and stock - 1 >= 0
    </update>


</mapper>


